/* NAVBAR */
.fixed-top {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
}

nav {
   background-color: #3f51b5 !important;
   color: ivory;
   display: flex;
   padding: 0.1rem 1rem;
   width: 100%;
}

.outer-container {
   align-items: center;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   box-sizing: inherit;
   text-align: left;
   width: 50%;
   display: flex;
}

.logo {
   max-height: 53px;
   max-width: auto;
   display: inline;
   padding-right: 10px;
   padding-left: 10px;
}

.inner-container {
   justify-content: space-between;
   display: flex;
   box-sizing: inherit;
   width: 100%;
   font-size: 200%;
   padding-bottom: 3px;
}

.menu {
   /* padding-left: 2px; */
}
.menu-buttons {
   color: white !important;
   border-color: white !important;
}
/* ENDOF NAVBAR */

/* POPUP */
.popup-content {
   display: flex;
   width: 75% !important;
}

/* CONTENTS  */
.bg-image-full {
   background: no-repeat center center scroll;
   background-size: cover;
   background-position: center;
   padding-bottom: 3rem !important;
   padding-top: 5rem !important;
   display: block;
   width: 100%;
   height: 100%;

   position: relative;
}

.bg-img-1 {
   background-image: url("../image/bg5.jpg");
   height: 930px;
}

.text-container {
   height: 50%;
   width: 50%;
   margin: auto;
   padding-top: 27vmin;
}
.quote {
   color: white;
   text-align: center;
   margin: 0 auto;
   vertical-align: text-bottom;
   padding-bottom: 15px;
   font-weight: 900;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
}

.subquote {
   color: white;
   text-align: center;
   margin: 0 auto;
   vertical-align: top;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
}

.join-button {
   width: 100%;
   height: 100%;
   margin-top: 80px;
}

.join-button Button {
   height: 200%;
}

.slideshow-container {
   width: 100%;
   height: 100%;
   margin: auto;
}

.slideshow {
   position: relative;
   margin: auto;
   max-width: 1200px;
}

.bg2 {
   background-image: url("../image/bg2.jpg");
   background-position: 0% 50%;
   background-size: cover;
   height: 400px;
   width: 50%;
   margin: auto;
   position: relative;
   color: white;
}

.bg2-container {
   text-align: left;
   padding-top: 10px;
   background-color: #2096ff;
}

.about {
   max-height: 300px;
   width: 50%;
   margin: 0 auto;
   position: relative;
   text-align: left;
   color: black;
}

.about h1 {
   margin-top: 20px;
   margin-bottom: 15px;
   color: #2096ff;
}

.about h2 {
   margin-top: 15px;
   margin-bottom: 28px;
   font-weight: 400;
}
