.mainBox {
   width: 900px;
   overflow: hidden;
   margin: 100px auto 30px;
}

.leftBox {
   width: 500px;
   height: 680px;
   float: left;
   position: relative;
   display: block;
}

.backgroundColorLeft {
   width: 100%;
   height: 100%;
   background-color: skyblue;
   border-top-left-radius: 90px;
   border: 1px solid blue;
}

.backgroundImageLeft {
   background-image: url("../image/background.jpg");
   width: 100%;
   height: 100%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   border-top-left-radius: 90px;
   opacity: 0.5;
   position: absolute;
   top: 0;
   left: 0;
}

.logo {
   image: url("../image/background.jpg");
}

.textForImage {
   font-size: 48px;
   position: absolute;
   color: black;
}

.textForImage.bold {
   font-weight: bold;
}

.textForImage.style1 {
   top: 380px;
   left: 120px;
}

.textForImage.style2 {
   top: 450px;
   left: 20px;
}

.rightBox {
   width: 398px;
   height: 678px;
   float: right;
   border: 1px solid blue;
   border-bottom-right-radius: 90px;
}

.cancel {
   float: right;
   border-left: 1px solid blue;
   border-bottom: 1px solid blue;
   border-bottom-left-radius: 15px;
   background-color: aqua;
}

.cancel:hover {
   background-color: red;
}

.submit {
   background: skyblue;
   border-radius: 20px;
   width: 330px;
   text-align: 20px;
}

.submit:hover {
   background-color: red;
}

.box {
   width: 310px;
   height: 415px;
   margin: 32px auto;
}

.titleForLogin {
   font-size: 32px;
   text-align: center;
   font-weight: bold;
   margin-top: 50px;
   margin-bottom: 30px;
   color: skyblue;
}

.inputForLoginID {
   width: 310px;
   height: 42px;
   border-bottom: 2px solid black;
   margin-bottom: 10px;
}

.inputForLoginPWD {
   width: 310px;
   height: 42px;
   border-bottom: 2px solid black;
   margin-bottom: 10px;
}

.inputL {
   width: 100%;
   /* height: 97%; */
   font-size: 19px;
   color: black;
   text-indent: 10px;
   border: 0;
   outline: none;
}

.savedInfo {
   overflow: hidden;
   height: 42px;
   margin-bottom: 30px;
}

.savedAccount {
   overflow: hidden;
   float: left;
}

.forgot {
   float: right;
   font-size: 12px;
   cursor: pointer;
   color: blue;
}

.forgot:hover {
   color: red;
}

.checkbox {
   float: left;
}

.CheckboxLabel {
   float: left;
   font-size: 12px;
   margin-left: 5px;
   color: black;
}

.footerBox {
   width: 300px;
   height: 47px;
   position: relative;
   margin: 20px 0;
}

.loginLine {
   border-bottom: 2px solid gray;
   position: absolute;
   top: 22px;
   width: 100%;
}

.textForOr {
   font-size: 14px;
   color: gray;
}

.textForOr.or {
   position: absolute;
   top: 14px;
   left: 140px;
   width: 25px;
   height: 16px;
   background-color: white;
   text-align: center;
}

.otherChoice {
   overflow: hidden;
   width: 184px;
   height: 47px;
   margin: 0 auto;
}

.space {
   height: 10px;
}
