.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.searchBar {
  background-color: #b1efff; 
  width: 256px;
  height: 30px;
  border-style: solid!important;
  border-color: yellow!important;
  border-width: 2px!important;
  border-radius: 6px;

}

